*,
*:before,
*:after {
  box-sizing: border-box;
}

.app {
  max-width: 1200px;
  margin: 1rem auto;
}

.buttons {
  padding: 10 auto;
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.grid {
  display: flex;
  justify-content: space-evenly;
}

.grid > div {
  width: 50%;
  margin: 2rem;
}

.product {
  margin-bottom: 1rem;
}

.error {
  color: red;
}
